<! DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="./css/styles.css">
        <link rel="icon" href="/img/weather.png">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <img class="portrait" src="./img/octocat.png" >
            <p>Small NodeJS application that allows you to input location for a forecast response.</p>
            <p>Created from NodeJS Udemy tutorial by Andrew Mead.</p>
            <p>Application allowed me to learn how to develop async applications, setup web servers and the client side internals, create and wire up APIs, and various other things.</p>
            <p>Amazing experience! As always, "Stay Hungry. Stay Foolish."</p>
        </div>
        
        {{>footer}}
    </body>
</html>